@{
    ViewBag.Title = "Inicio";
}

<div class="row "></div>
<div class="row mt-5  ">
    <div class="position-relative container h-auto card ">
        <h1 class="text-center mt-3 mb-3 ">Bienvenido a la Kermesse de Elysium</h1>
        
    </div>
</div>